/* Empty. Add your own CSS if you like */

.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}